header {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.firstWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.firstWrapperActive {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    height: 0px;
}

.secondWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.secondWrapperActive {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.thirdWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.thirdWrapperActive {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
    font-family: UberMoveText, sans-serif;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.mainRoot {
    display: flex;
    justify-content: space-between;
    align-content: center;

    h1 {
        margin-bottom: 0;
    }
}

.authButtons {
    display: flex;
    align-content: center;
    vertical-align: middle;


    a, button {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-box-direction: normal;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        display: flex;
        color: #000000;
        box-sizing: border-box;
        font-family: UberMoveText, sans-serif;
        font-weight: 500;
        cursor: pointer;
        width: auto;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 12px 20px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 500px;
        white-space: nowrap;
        min-height: 48px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
        margin-left: 20px;
        border: none;
    }

    h2 {
       margin-bottom: 0;
       text-align: center;
       position: relative;
       top:5px;
    }

    .registerButton {
        background-color: black;
        color: white;
    }
}

.main {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: UberMoveText, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    top: 0;
    left: 0;
    color: #000000;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    max-width: 1920px;
    min-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
    height: 96px;
    transition: background 200ms ease;
    background: transparent;
    right: 0;
    z-index: 1;
}

.mainActive {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: UberMoveText, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    top: 0;
    left: 0;
    color: #000000;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    max-width: 1920px;
    min-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
    height: 96px;
    transition: background 200ms ease;
    right: 0;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
}