
main {
  margin-top: 0px;
  height:100%;

  .form-wrapper {
    display: flex;
    height:100vh;
    .left {
      width: 50%;
      background-color: rgb(241, 241, 241);
      display: flex;
      flex-direction: column;
      padding: 150px 40px;
    }

    .right {
      width: 50%;
      background-color: #FA9269;

      .form-body {
        width: 80%;

        margin: 40px auto;
        margin-top:150px;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        -webkit-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.38);
        box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.38);
      }
    }
  }
}
.form-group {
  margin-bottom: 30px;

}

.form-control {
  border: none;
  border-bottom: 2px solid lightgrey;
  padding: 5px 20px 20px 20px;
}
a {
  color:black;
  text-decoration: none;
}
