
<div class="container">
    
    <div class="naslov">
    <h1>Foodo</h1>
    <h2>Glovo je sada... FOODO</h2>
    
</div>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Unesite svoju lokaciju" aria-label="Unesite svoju lokaciju" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-dark" type="button">Kreni!</button>
        </div>
      </div>
    <img src="../home-page/logo.jpg">
    <!-- <a [routerLink]="['/login']" routerLinkActive="router-link-active" 
    > -->
    
