
.container
{
    background-color:navajowhite;
    margin-top:100px;
    height:600px;
}
.naslov{
    margin-top: 100px;
    margin-bottom: 100px;
}

input{
    margin-bottom: 30px;
    width:350px;
    
}
#button{
    width:350px;
}
.submitt{
    margin:0px 500px 0px 500px;
    
    
}
img{
    width:100px;
    height:100px;
}
