

<div *ngIf="order" class="container">
<!--    <p>{{order.orderStatus}}</p>-->
  <h3>Trenutni status narudžbe: {{data}}</h3>
    <agm-map [latitude]="order.customer.location.latitude" [longitude]="order.customer.location.longitude">
        <agm-direction
            *ngIf = "directionToRestaurant()"
            [origin]="courierLocation"
            [destination]="resLocation"
            [renderOptions]="renderOptions"
            [markerOptions]="restaurantMarkerOptions"
        >
        </agm-direction>
        <agm-marker *ngIf = "directionToRestaurant()" [latitude]="cusLocation?.lat!" [longitude]="cusLocation?.lng!" [markerDraggable]="true"></agm-marker>
        <agm-direction
            *ngIf = "!directionToRestaurant()"
            [origin]="courierLocation"
            [destination]="cusLocation"
            [renderOptions]="renderOptions"
            [markerOptions]="customerMarkerOptions"
        >
        </agm-direction>
    </agm-map>

<!--  <button type="button" class="btn btn-secondary" (click) = "updateStatus()">Update status narudzbe</button>-->
  <button type="button" class="btn btn-secondary" (click) = "updateStatus()">Update status narudzbe</button>

</div>
