
<div class="table">
  <div class="header">
    <div class="left">
      <div class="cell">Order ID</div>
    </div>
    <div class="right">
      <div class="order-row">
        <div class="cell">Product Name</div>
        <div class="cell">Product Quanity</div>
        <div class="cell">Price</div>
        <div class="cell">Status</div>
      </div>
    </div>
    <div class="left">
      <div class="cell">Total Price</div>
    </div>
  </div>

  <div class="table-body">
    <div *ngFor="let s of pendingOrders" class="order-row">
      <div class="left">
        <div class="cell">{{s.id}}</div>
      </div>
      <div class="right">
        <div *ngFor="let orderRecord of s.orderRecords | keyvalue" class="order-row">
          <div class="cell">{{orderRecord.value.product.name}}</div>
          <div class="cell">{{orderRecord.value.quanity}}</div>
          <div class="cell">{{orderRecord.value.product.price * orderRecord.value.quanity}}</div>
        </div>
        <div class="cell">{{s.orderStatus}}</div>
      </div>
      <div class="left">
        <div class="cell">{{s.price}}</div>
      </div>
    </div>
  </div>
</div>


