
tr, th, td{
  border:1px solid black;
}

th{
  padding:10px;
}

.table {
  width: 100%;
  border: 1px solid black;
}

.header, .table-body, .left {
  display: flex;
}

.left {
  width: 20%;
}

.right {
  width: 60%;
}

.order-row {
  display: flex;
  width: 100%;
 
}

.cell {
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 0;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acceptOrderBtn {
  background-color: #2abb9b;
  padding: 5px 10px;
  color: white;
  width: 50%;
  border: none;
  border-radius: 6px;
}
