.divider {
    margin-bottom: 50px;
}
.form-group {
  margin-bottom: 20px;
  a {
    color:black;
    text-decoration: none;
  }
}
main {
    margin-top: 0px;
  height: 100%;

    .form-wrapper {
        display: flex;
        height: 100vh;
        .left {
            width: 50%;
            background-color: rgb(241, 241, 241);
            display: flex;
            flex-direction: column;
            padding: 150px 40px;

            a {
                color:inherit;
            }

            .logo {
                position: absolute;
                top:20px;
                left: 40px;
            }
        }

        .right {
            width: 50%;
            background-color: #FA9269;

            .form-body {
                width: 80%;
                margin: 150px auto;
                background-color: white;
                padding: 20px;
                border-radius: 8px;
                -webkit-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.38);
                box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.38);
            }
        }
    }
}

.inline-group {
    display: flex;
    justify-content: space-evenly;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    border: none;
    border-bottom: 2px solid lightgrey;
    padding: 10px;
}

.why-foodo {
    display: flex;
    flex-direction: column;
    text-align: center;

    .article {
        display: flex;
        justify-content: space-evenly;
        margin-bottom:30px;
        .content, .image {
            width: 50%;
            text-align: left;

        }

        .content .separator {
            width: 20%;
            height: 2px;
            margin:15px 0;
            background-color: #FA9269;
        }
    }
}
.container{
    margin-bottom: 30px;
}
.content{
margin-left: 30px;
padding-top: 30px;
}
.steps {
    display: flex;
    flex-direction: column;

}
.image{
    img {
        height: 350px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        vertical-align: middle;
    }
}
.step {
    position: relative;
    border: 1px solid black;
    background-color: #FA9269;
    padding: 0;
    padding-top: 30px;
    border-radius: 8px;
    margin: 0 20px;
    text-align: center;
    width: 30%;
    h1{
        font-size: 20px;

        color:inherit;
    }

        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 25%;
            border-top-right-radius: 25%;
            vertical-align: middle;
        }

    .step-number {
        position: absolute;
        top:0;
        left:50%;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:lightseagreen;
        font-weight: bold;
        color:white;
    }


}


