li img {
  width: 50px;
  margin: 300px auto 20px auto;
}
ul{
  text-align: center;
}
ul li{
  display: inline-block;
  width:200px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

body{
  font-size:1em;
  height: 100%;
}

h3 {
  font-family: Lato;
  text-align: center;
  color: #231f20;
  margin-bottom: 20px;
  margin-top:20px;
}

.circles{
  height: 0.938em;
  width: 0.938em;
  border: 0.188em solid #000;
  border-radius: 50%;
  display: inline-block;
}

.active{
  background-color: red;
}

.circle-desc-active{
  font-weight: bold;
}

.bar{
  width: 16%;
  height: 0.063em;
  margin-bottom:0.469em;
  border: 0.031em solid #000;
  color:#000;
  background-color:#000;
  display: inline-block;
  text-align:center;
  margin:"0 auto";
}

.container{
  min-width:320px;
  margin: 20px auto;
  text-align: center;
}

.circle-desc{
  position: absolute;
  top:5.000em;
  font-size: 1.125em;
  width: auto;
  max-width:9.375em;
  margin-left:-0.750em;
}
