<div class="container">
    <h1>Unesi Adresu za dostavu</h1>
    <div class="wrapper">
       <div class="form">
            <div class="form-group">
                <i class="fas fa-map-marker-alt"></i>
                <input type="text" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>

            <div *ngIf="adressExists" class="form-group">
                <i class="fas fa-home"></i>
                <input type="text" (keydown.enter)="$event.preventDefault()" placeholder="Sprat, Stan, Napomena" autocorrect="off" autocapitalize="off" spellcheck="off" type="text">
            </div>

            <div class="postavi-na-mapi">
                <a [routerLink]="['marker-picker']" >Postavi Lokaciju na mapi</a>
            </div>    
       </div>
    
       <div class="map-wrapper">
            <div class="map">
                <img src="../../../assets/map-placeholder.jpg" alt="map" *ngIf="!adressExists">
                <agm-map *ngIf="adressExists" [latitude]="location?.latitude!" [longitude]="location?.longitude!" [zoom]="zoom">
                    <agm-marker [latitude]="location?.latitude!" [longitude]="location?.longitude!" [markerDraggable]="true">
                    </agm-marker>
                </agm-map>
            </div>
       </div>
    
    </div>
  </div>