<div  class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Broj narudžbe: {{data.id}}</p>
  <p>Kupac No: {{data.customer.id}}</p>
  <p>Stavke: </p>
  <h3 *ngFor="let item of data.orderRecords | keyvalue"> <br>
    {{item.key}} : {{item.value}}
    <h2 *ngFor="let orderRecord of item.value|keyvalue">{{orderRecord.key}}:{{orderRecord.value}}
<p *ngFor="let p of orderRecord|keyvalue">{{p.key}}:{{p.value}}</p>
    </h2>
</h3>
  <p>Status: {{data.orderStatus}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="AcceptOrder(data)">Prihvati narudžbu</button>

</div>
