<div  class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Broj narudžbe: {{data.id}}</p>
  <p>Kupac No: {{data.customer.id}}</p>
  <p>Stavke: </p>
  <h3 *ngFor="let item of data.orderRecords | keyvalue"> <br>
    <h2>Kolicina: {{item.value.quanity}}</h2><br>
   <h2>Stavka: {{item.value.product.name}}</h2> 
    
</h3>
  <p>Status:{{data.orderStatus}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="AcceptOrder(data)">Prihvati narudžbu</button>

</div>
