<div class="header">
    <i class="fas fa-bars" (click)="onMenuClick()"></i>
    <i class="fas fa-user-alt" (click)="klikni()"></i>
</div>

<div *ngIf=profil class="profile">
  <button (click)="Odjava()"><h2>Odjavi se</h2></button>
</div>



<div class="wrapper">
    <div class="sidebar" [ngClass]="{'sidebar-open' : opened}">
        <div class="container">

            <ul>
              <li>
                <a [routerLink]="['/courier/dashboard']" routerLinkActive="active" (click)="onMenuClick()">
                  <div class="icon-wrapper">
                  </div>
                  <h3>Početna stranica</h3><hr>
                </a>
              </li> -->

                 <li>
                    <a [routerLink]="['pending/orders']" routerLinkActive="active" (click)="onMenuClick()">
                        <div class="icon-wrapper">
                        </div>

                       <h3>Aktivne narudžbe</h3> <hr>

                    </a>
                </li>
              <li>
                <a [routerLink]="['order/offer']" routerLinkActive="active" (click)="onMenuClick()">
                  <div class="icon-wrapper">
                  </div>

                  <h3>Trenutna narudžba</h3><hr>

                </a>
              </li>
              <li>
                <a [routerLink]="['order/tracking']" routerLinkActive="active" (click)="onMenuClick()">
                  <div class="icon-wrapper">
                  </div>

                  <h3> Praćenje narudžbe</h3><hr>
                </a>
              </li>
              <li>
                <a [routerLink]="['activities']" routerLinkActive="active" (click)="onMenuClick()">
                  <h3> Aktivnosti</h3>

                </a>
              </li>
            </ul>
        </div>
      <div class="logo">
        <h1>Foodo</h1>
      </div>
    </div>
    <router-outlet></router-outlet>
</div>
