.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #FA9269;
    color:white;
}
.container{
  font-size: 20px;
  height:100vh;
  position: relative;

}
.wrapper {
    //display: flex;
    position: relative;
    height: 100%;
    width: 100%;

    .sidebar {
        width: 200px;
        position: absolute;
        top:0;
        left:-200px;
        //background-color: #cdcdcd;
      background-color: #dddddd;
        height: 100vh;
        transition: all .5s;
      z-index: 10;

      ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 40px 0;
            margin: 0;

            li {
                //margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    color:inherit;
                    font-family: sans-serif;

                  //align-items: center;
                    /*.icon-wrapper {

                  align-items: center;
                    .icon-wrapper {

                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                        display: inline-block;
                    }*/
                }
            }
        }

    }

    .sidebar-open {
      left:0;
      text-align: center;
      height: 100vh;
    }
}

@media only screen and (max-width: 750px) {
  .logo {
    bottom: 0px;
  }
  .container {
    font-size: 10px;
    height: 100%;
  }
  .sidebar {
    z-index: 10;
    height: 100vh;

    ul {
      padding:0px;
      margin:0px;

      li {
        margin: 0px;
      padding:0;
     width: 100%;

        a{
          width: 100%;
        }

        h3{
          font-weight: bolder;
        }
      }
    }
  }
  .wrapper {
    //position: absolute;
  }
  .profile {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    right:0;

    button{
      width:100px;
      height: 40px;
      border-color:#FA9269;

    }
  }


}



