<div class="header">
    <i class="fas fa-bars" (click)="onMenuClick()"></i>
    <i class="fas fa-user-alt"></i>
</div>
<div class="wrapper">
    <div class="sidebar" [ngClass]="{'sidebar-open' : opened}">
        <div class="container">
            <div class="logo">
                <h1>Foodo</h1>
            </div>
            <ul>
                <!-- <li>
                    <a [routerLink]="['orders']" routerLinkActive="active">
                        <div class="icon-wrapper">
                            <i class="fas fa-hamburger"></i>
                        </div>
                        Orders
                    </a>
                </li> -->
            </ul>
        </div>`
    </div>
    <router-outlet></router-outlet>
</div>
