<div *ngIf="pendingOrder===null">
  <p>Nema aktivnih narudzbi</p>
</div>
<div class="container-activity">
  <div class="activity">
    <div class="info">
      <h2>#{{pendingOrder.id}}</h2>
      <h3>{{pendingOrder.restaurant.name}}</h3>
      <button *ngIf="!opened" (click)="open()">+</button>
      <button *ngIf="opened" (click)="open()">-</button>

    </div>
    <p class="price">{{pendingOrder.price}}BAM</p>
  </div>
  <div *ngIf="opened"   class="sidebar" [ngClass]="{'sidebar-open' : opened}">
    <h3>Adresa restorana: Lacina 5, Mostar 88000</h3><hr>
    <h3>Adresa dostave:  {{pendingOrder.customerLocation.formatedAdress}}  </h3><hr>
    <h3>Detalji narudzbe</h3>
    <h3 *ngFor="let order of pendingOrder.orderRecords|keyvalue">{{order.key}}:{{order.value}}</h3><hr>
  </div>

</div>

