.container {
  height: 100vh;
  margin-left: 200px;
}
tr, th, td{
  border:1px solid black;
}

th{
  padding:10px;
}
<<<<<<< HEAD
@media only screen and (max-width: 740px) {
    .container{
      margin-left: 0px;
    }
}
=======
>>>>>>> ef2436dee2d25f46afc90e584ab73ca10b4930b0
