.wrapper {
    display: flex;
  height: 100vh;
  margin-left:200px;

    .map-wrapper {
        width: 50%;
      margin-right: 75px;
    }

    .order-info {
        width: 50%;
    }
  agm-map{
    align-content: center;
  }
}
