<app-header></app-header>
<main>
    <div class="landing-screen">
        <div class="background-images">

            <img src="../../../../assets/homePageBackground.svg" alt="">
            <img src="../../../../assets/homePageBackground2.svg" alt="">
        </div>
        <div class="center">
            <div class="container">
              <h1>Dobrodošli na Foodu</h1>
                <h1 class="order">U par koraka dostava na Vašim vratima</h1>
                <div *ngIf="isLoggedIn"  class="search-inline">
                    <div  class="search-wrapper">
                      <input type="text" [(ngModel)]="naziv" placeholder="Pretražite restoran po nazivu">
                    </div>
                </div>

         

            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div *ngIf="!isLoggedIn">
        <div class="container why-foodo">
            <h1>Zašto Foodo?</h1>
        </div>
        <div class="about-foodo container">
            <div class="about-box">
                <div class="about-image">
           <img src="../../../../assets/rest.jpg" alt="">
                </div>
                <div class="about-title">
                    Najbolji restorani u tvom gradu
                </div>
                <div class="about-description">
                    Uz veliki izbor restorana u ponudi možeš da naručiš omiljenu hranu, istraži nove restorane u blizini!
                </div>
            </div>
            <div class="about-box">
                <div class="about-image">
                    <img src="../../../../assets/dostava.jpeg" alt="">
                </div>
                <div class="about-title">
                    Brza dostava
                </div>
                <div class="about-description">
                    Ponosimo se time koliko smo brzi. Naruči ili pošalji bilo šta u svom gradu i mi ćemo to da preuzmemo i dostavimo ti za par minuta.
                </div>
            </div>
            <div class="about-box">
                <div class="about-image">
                    <img src="../../../../assets/pay.jpg" alt="">
                </div>
                <div class="about-title">
                    Online plaćanje
                </div>
                <div class="about-description">
                    Kroz par koraka do plaćanja narudžbe, sasvim pouzdano i sigurno!
                </div>
            </div>
        </div>

        <div class="divider"></div>
        <div class="foodo-on-work container" *ngIf="!isLoggedIn">
            <h1>Novo - FOODO na poslu</h1>
            <span>Najlakši način da svojim uposlenicima pružite savršeno iskustvo narudžbe hrane na poslu</span>
            <div class="offer row">
                <div class="left col-md-6 px-0">
                    <h1>Posebni popusti</h1>
                    <p>
                        Uštedite vrijeme i energiju. Pripremili smo posebne popuste iz restorana kao i posebne tarife za dostavu za naše partnere.
                    </p>
                    <button class="btn-outline-secondary btn">Saznaj vise</button>
                </div>
                <div class="right col-md-6 px-0">
                    <img src="../../../../assets/friends_eating.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoggedIn">
        <div class="container hranaUTvojojBlizini" *ngIf = "getRestaurants().length">
            <h1>Hrana u tvojoj blizini</h1>
            <div class="row">
                <div *ngFor="let restaurant of getRestaurants()" class="col-md-4">
                    <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
                </div>
            </div>
            <div  class="divider"></div>

        </div>
    <div  class="container why-foodo">
        <h1>Uradimo to zajedno</h1>
    </div>
    <div class="about-foodo container">
        <div class="about-box">
            <div class="about-image">
<!--                <img src="../../../../assets/rest.jpg" alt="">-->
            </div>
            <div class="about-title">
                Najbolji restorani u tvom gradu
            </div>
            <div class="about-description">
                Uz veliki izbor restorana u ponudi možeš da naručiš omiljenu hranu, istraži nove restorane u blizini!
            </div>
        </div>
        <div class="about-box">
            <div class="about-image">
<!--                <img src="../../../../assets/dostavi.jpg" alt="">-->
            </div>
            <div class="about-title">
                Brza dostava
            </div>
            <div class="about-description">
                Ponosimo se time koliko smo brzi. Naruči ili pošalji bilo šta u svom gradu i mi ćemo to da preuzmemo i dostavimo ti za par minuta.
            </div>
        </div>
        <div class="about-box">
            <div class="about-image">
<!--                <img src="../../../../assets/stripe.png" alt="">-->
            </div>
            <div class="about-title">
                Online plaćanje
            </div>
            <div class="about-description">
              Kroz par koraka do plaćanja narudžbe, sasvim pouzdano i sigurno!
            </div>
        </div>
    </div>
    <div class="divider"></div>
    </div>
</main>
<app-footer></app-footer>
