.form-group {
    margin-bottom: 30px;
}

.card-header {
    h3 {
        margin: 0;
        font-family: Lato-Bold;
        font-size: 24px;
        color: #252525;
        letter-spacing: 0.84px;
        text-align: center;
    }
}

#submitButton {
    color: white;
}

.forgot-password {
    display: flex;
    justify-content: center;

    a {
        color: #8367d8;
        text-decoration: none;
        font-family: Lato-Regular;
        font-size: 1.125rem;
        letter-spacing: 0.63px;
    }
}

.google-button-container{
    display: flex;
    justify-content: center;
}

.btn-google{
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    img{
        margin-right: 20px;
        width: 30px;
        height: 30px;
    }
}