<footer>
    <!-- Todo: Create Footer component -->
    <div class="container">
        <h1>Foodo</h1>
        <div class="row">
            <div class="col-md-4">
                <h3>Uradimo to zajedno</h3>
                <ul>

                    <li>
                      <a [routerLink]="['/register/courier']" routerLinkActive="active">Foodo za dostavljače</a>
                    </li>
                    <li><a [routerLink]="['/register/business']">Foodo za biznis</a></li>
                </ul>
              <router-outlet></router-outlet>
            </div>
            <div class="col-md-4">
                <h3>Vazni linkovi</h3>
                <ul>
                    <li><a href="#"></a>O nama</li>
                    <li><a href="#"></a>Česta pitanja</li>
                    <li><a href="#"></a>Blog</li>
                    <li><a href="#"></a>Kontaktiraj nas</li>
                    <li><a href="#"></a>Bezbjednost</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Prati nas</h3>
                <ul>
                    <li><a href="#"></a>Facebook</li>
                    <li><a href="#"></a>Twitter</li>
                    <li><a href="#"></a>Instagram</li>

                </ul>

            </div>
        </div>
    </div>
</footer>